@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

li a.active {
  text-decoration: underline 3px #344e41;
}


input::placeholder{
  color: #344e4130;
}


