@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

li a.active {
  text-decoration: underline 3px #344e41;
}


input::placeholder{
  color: #344e4130;
}





.content {
  width: 100%;
}

.photos {
  width: 100%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}

.thumbnails {
  width: calc(100% / 3);
  height: 500px;
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

.thumbnails img {
  width: 100%;
  /* object-fit: cover; */
  /* object-position: 50% 20%; */
}

.black {
  text-align: center;
  background: #000;
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.title {
  color: #fff;
  font-size: 2em;
  align-self: center;
  position: absolute;
  z-index: 10;
}

.black, .title {
  transition: opacity .3s;
}

.thumbnails:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 20;
}

.thumbnails:hover .black,
.thumbnails:hover .title {
  opacity: 0;
}

